--find-links https://download.pytorch.org/whl/torch_stable.html
click==8.0.1
cloudpickle==1.3.0
colorama==0.4.4
cycler==0.11.0
Cython==0.29.21
fonttools==4.33.3
future==0.18.2
GPUtil==1.4.0
gym==0.17.2
h5py==2.10.0
importlib-metadata==4.11.3
joblib==1.1.0
kiwisolver==1.4.2
matplotlib==3.5.2
mujoco-py==2.1.2.14
numpy==1.21.6
packaging==21.3
pandas==1.3.5
patchelf==0.14.5.0
Pillow==9.1.0
protobuf==3.20.1
pyglet==1.5.0
pyparsing==3.0.8
python-dateutil==2.8.2
pytz==2022.1
scikit-learn==0.23.1
scipy==1.5.4
six==1.16.0
stable-baselines3==1.4.0
structlog==20.2.0
tensorboardX==2.0
threadpoolctl==3.1.0
torch==1.10.2+cu111
torchaudio==0.10.2+rocm4.1
torchvision==0.11.3+cu111
tqdm==4.47.0
typing-extensions==3.7.4.3
zipp==3.8.0
